/* Import Local SCSS Files */
/* Font Family */
/* Font Size */
/* Gray Color*/
/* Object Color*/
/* box-shadow */
/* line */
/* padding & margin */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

.inner {
  width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

li {
  padding: 0;
  list-style: none;
}

/* Fontawesome */
/* Web fonts*/
/* NCLNeovibes-Demo */
@font-face {
  font-family: "NCLNeovibes-Demo";
  src: url("../ncl_neovibes/NCLNeovibes-Demo.otf");
}
/* Noto+Sans+KR, Poppins */
/* ############ Footer ############*/
.footer-content {
  position: relative;
  width: 100%;
  height: 560px;
  background: #0B090A;
  overflow: hidden;
}
.footer-content .content-items {
  height: 500px;
  padding: 70px 0;
}
.footer-content .content-items .content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.footer-content .content-items .content-item .item-left,
.footer-content .content-items .content-item .item-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-content .content-items .content-item .item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-content .content-items .content-item .item-left .logo {
  width: 175px;
}
.footer-content .content-items .content-item .item-left .logo img {
  width: 100%;
}
.footer-content .content-items .content-item .item-left .decs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-content .content-items .content-item .item-left .decs span,
.footer-content .content-items .content-item .item-left .decs strong {
  color: #FFF;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.footer-content .content-items .content-item .item-left .decs span:nth-child(1) {
  font-weight: 600;
}
.footer-content .content-items .content-item .item-left .decs span:nth-child(2) {
  text-decoration: underline;
}
.footer-content .content-items .content-item .item-left .decs span:nth-child(3) {
  font-size: 1rem;
}
.footer-content .content-items .content-item .item-right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer-content .content-items .content-item .item-right .top-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #FFF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 55px;
  text-align: center;
}
.footer-content .content-items .content-item .item-right .top-btn a i {
  color: #FFF;
  font-size: 1.2rem;
}
.footer-content .content-items .content-item .item-right .footer-sns {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.footer-content .content-items .content-item .item-right .footer-sns a i {
  color: #FFF;
  font-size: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer-content .content-items .content-item .item-right .footer-sns a i:hover {
  opacity: 0.35;
}
.footer-content .footer-bar {
  position: relative;
  width: 100%;
  height: 60px;
  background: #F34300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-content .footer-bar .footer-bar-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
.footer-content .footer-bar .footer-bar-linetext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fani 30s linear infinite;
          animation: fani 30s linear infinite;
  gap: 20px;
}
.footer-content .footer-bar .footer-bar-linetext p {
  font-size: 0.6rem;
  color: #0B090A;
  margin: 0 2rem;
}
@-webkit-keyframes fani {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes fani {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

html {
  scroll-behavior: smooth;
}

/* responsive Mobile */
@media (max-width: 767px) {
  * {
    font-size: 12px;
  }
  /* ############ Common CSS ############*/
  .inner {
    width: 90%;
  }
  /* ############ Footer ############*/
  .footer-content {
    height: 80%;
  }
  .footer-content .content-items .content-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-content .content-items .content-item .item-left {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .footer-content .content-items .content-item .item-left .logo {
    width: 88px;
  }
  .footer-content .content-items .content-item .item-left .decs span a {
    font-family: "Poppins", sans-serif;
  }
  .footer-content .content-items .content-item .item-left .decs span,
  .footer-content .content-items .content-item .item-left .decs strong {
    font-family: "Poppins", sans-serif;
    color: #FFF;
  }
  .footer-content .content-items .content-item .item-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .footer-content .content-items .content-item .item-right .top-btn {
    right: 0;
    width: 50px;
    height: 50px;
    top: -250px;
  }
  .footer-content .content-items .content-item .item-right .top-btn i {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  .footer-content .content-items .content-item .item-right .footer-sns {
    left: 0;
    gap: 25px;
    width: 50%;
  }
  .footer-content .content-items .content-item .item-right .footer-sns a i {
    color: #FFF;
    font-size: 1.5rem;
  }
  .footer-content .footer-bar {
    height: 30px;
  }
}