/* Import Local SCSS Files */
/* Font Family */
/* Font Size */
/* Gray Color*/
/* Object Color*/
/* box-shadow */
/* line */
/* padding & margin */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

.inner {
  width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

li {
  padding: 0;
  list-style: none;
}

/* Fontawesome */
/* Web fonts*/
/* NCLNeovibes-Demo */
@font-face {
  font-family: "NCLNeovibes-Demo";
  src: url("../ncl_neovibes/NCLNeovibes-Demo.otf");
}
/* Noto+Sans+KR, Poppins */