@charset "UTF-8";
/* Import Local SCSS Files */
/* Font Family */
/* Font Size */
/* Gray Color*/
/* Object Color*/
/* box-shadow */
/* line */
/* padding & margin */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

.inner {
  width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

li {
  padding: 0;
  list-style: none;
}

/* Fontawesome */
/* Web fonts*/
/* NCLNeovibes-Demo */
@font-face {
  font-family: "NCLNeovibes-Demo";
  src: url("../ncl_neovibes/NCLNeovibes-Demo.otf");
}
/* Noto+Sans+KR, Poppins */
/* ############ Mixin Group ############*/
/* ############ Common CSS ############*/
.inner {
  width: 1440px;
  margin: auto;
}

.content-title {
  font-size: 2.4rem;
  font-family: "NCLNeovibes-Demo";
}

body {
  overflow-x: hidden;
}

/* 메인페이지 */
/* ############ Header ############*/
/* ############  ############*/
/* ############ section01 ############*/
.section01 {
  height: 1524px;
  background: #0B090A;
  padding: 100px 0;
  overflow-x: hidden;
}
.section01 .content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section01 .content-items .content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFF;
}
.section01 .content-items .content-item .item-left {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 876px;
  margin-right: 120px;
}
.section01 .content-items .content-item .item-left img {
  width: 100%;
}
.section01 .content-items .content-item .item-right {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
}
.section01 .content-items .content-item .item-right .text_box h1 {
  color: #F34300;
  font-size: 100px;
  font-family: "NCLNeovibes-Demo";
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.section01 .content-items .content-item .item-right .text_box span {
  font-family: "NCLNeovibes-Demo";
  color: #FFF;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.section01 .content-items .content-item .item-right .text_box .decs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  position: relative;
}
.section01 .content-items .content-item .item-right .text_box .decs span {
  display: inline-block;
  color: #FFF;
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 300;
  text-align: end;
  margin-top: -1rem;
}
.section01 .content-items .content-item .item-right .text_box .decs p {
  color: #FFF;
  text-align: end;
  font-weight: 200;
}
.section01 .content-items .content-item .item-right .text_box .decs::after {
  position: absolute;
  content: "";
  width: 120px;
  border: 1px solid #FFF;
  background: #FFF;
  top: -10px;
  left: 120px;
}
.section01 .swiper-item {
  width: 100%;
  height: 765px;
  margin-top: 150px;
}
.section01 .swiper-item .swiper-sec2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.section01 .swiper-item .swiper-sec2 .swiper-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section01 .swiper-item .swiper-sec2 .swiper-wrapper .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section01 .swiper-item .swiper-sec2 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section01 .swiper-item .swiper-sec2 .swiper-pagination {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  z-index: 100;
}
.section01 .swiper-item .swiper-sec2 .swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.section01 .swiper-item .swiper-sec2 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent !important;
}
.section01 .swiper-item .swiper-sec2 .swiper-pagination .swiper-pagination-bullet-active::before {
  content: "*";
  font-family: "Poppins";
  font-weight: 600;
  color: #F34300;
  font-size: 40px;
  position: absolute;
  top: -4px;
  margin-left: -10px;
}
.section01 .symbol {
  position: absolute;
  top: -40%;
  right: -20%;
  opacity: 0.3;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

/* ############   ############*/
/* ############   ############*/
/* ############   ############*/
/* 서브페이지 */