/* Import Local SCSS file*/
@import 'fonts', 'reset', 'variables';

/* ############ Common CSS ############*/

.inner {
  width: 1440px;
  margin: auto;
}
html{scroll-behavior: smooth;}
.content-title {
  font-size: $title;
  font-family: $primary-en;
}



/* 서브페이지 */
/* ############  ############*/
header {

  background-color: $main-black;
  color: $main-black;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 80px;
  z-index: 200;

  .header-inner {
    margin: auto;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {}

    nav {

      ul {
        min-width: 830px;
        display: flex;
        justify-content: space-between;

        li {
          a {
            color: $white;
            font-family: $primary-en;
            transition: .3s;
            font-size: $txt;

            &:hover {
              color: $main-color;
            }
          }
        }
      }
    }

    .icon {
      &.iconColor {
        color: $main-black;
      }

      button {
        display: none;
        background: no-repeat;
      }

      #side-menu {
        display: none;
      }
    }
  }
}

/* ############ artist-swiper ############*/
.artist {
  width: 100%;
  padding: 70px 0;

  .artist-inner {
    width: 95%;
    margin-left: auto;

    .artist-title {
      .content-title {
        margin: $main-margin;
      }
    }

    .artist-swiper {
      width: 100%;

      .swiper-wrapper {
        height: 700px;

        .swiper-slide {
          width: 500px !important;
          height: 650px;
          position: relative;
          overflow: hidden;
          cursor: pointer;

          &:hover p.artist-name {
            display: block;
          }

          &:hover .imgwrap {
            filter: blur(5px);
            -webkit-filter: blur(5px);
          }

          &:hover .imgwrap::after {
            display: block;
          }

          .imgwrap {
            width: 100%;
            height: 650px;
            position: relative;
            transform: scale(1.1);

            &::after {
              content: '';
              height: 100%;
              width: 100%;
              background: $main-color;
              opacity: 0.7;
              position: absolute;
              left: 0;
              top: 0;
              display: none;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        p.artist-name {
          position: absolute;
          color: $white;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
          font-family: $primary-en;
        }
      }

      .swiper-scrollbar {
        .swiper-scrollbar-drag {
          background-color: $main-color;
        }
      }
    }
  }

}

/* ########## footer ########## */
.footer-content {
  position: relative;
  width: 100%;
  height: 560px;
  background: $main-black;
  overflow: hidden;

  .content-items {
    height: 500px;
    padding: $main-margin;

    .content-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;

      .item-left,
      .item-right {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .item-left {
        display: flex;
        justify-content: space-between;

        .logo {
          width: 175px;

          img {
            width: 100%;
          }
        }

        .decs {
          display: flex;
          flex-direction: column;
          font-family: $secondary-en;

          span,
          strong,
          a {
            color: $white;
            font-size: $body-title;
            margin-top: 2rem;

            font-family: $secondary-en;
          }

          span:nth-child(1) {
            font-weight: 600;

            font-family: $secondary-en;
          }

          span:nth-child(2) {
            text-decoration: underline;

            font-family: $secondary-en;
          }

          span:nth-child(3) {
            font-size: $body;

            font-family: $secondary-en;
          }
        }
      }

      .item-right {
        justify-content: space-between;
        position: relative;

        .top-btn {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          border: 2px solid $white;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          line-height: 55px;
          text-align: center;

          a {
            i {
              color: $white;
              font-size: 1.2rem;
            }
          }
        }

        .footer-sns {
          position: absolute;
          bottom: 0;
          right: 0;
          display: flex;
          justify-content: space-between;
          gap: 40px;

          a {
            i {
              color: $white;
              font-size: 40px;
            }
          }
        }
      }
    }
  }

  .footer-bar {
    position: relative;
    width: 100%;
    height: 60px;
    background: $main-color;
    display: flex;
    align-items: center;

    .footer-bar-line {
      display: flex;
      white-space: nowrap;
    }

    .footer-bar-linetext {
      display: flex;
      animation: fani 30s linear infinite;
      gap: 20px;

      p {
        font-size: $txt-small;
        color: $main-black;
        margin: 0 2rem;
      }
    }

    @keyframes fani {
      0% {
        transform: translateX(0%);
      }

      100% {
        transform: translateX(-50%);
      }
    }
  }
}

@media(max-width:768px) {
  /* ########## header ########## */
  header {
    height: 80px;

    .header-inner {
      margin: auto;

      .logo {
        img {
          width: 88px;
          height: 30px;
        }
      }

      nav {
        display: none;
      }

      .icon {
        display: flex;
        gap: 0px;

        button#menu {
          border: none;
          display: block;
          background: no-repeat;

          i {
            font-size: 1.2rem;
          }
        }

        a {
          img {
            width: 24px;
            height: auto;
            display: none;
          }
        }

        #side-menu {
          background: $main-black;
          display: block !important;
          position: fixed;
          top: 0;
          right: -100%;
          width: 100%;
          height: 100vh;
          color: $white;
          transition: right 0.3s ease;
          z-index: 1000;
          padding: 0 20px;

          &.open {
            right: 0;
          }

          #close {

            padding: 0 20px;
            background: none;
            border: none;
            cursor: pointer;
            font-weight: 800;

            i {
              font-size: 1.2rem;
              z-index: 1000 !important;
            }
          }

          .side-menu-top {
            border: none;
            margin: 10px;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
              a.logo-img {
                display: block;
                z-index: 1000;

                img {
                  width: 88px;
                  height: 30px;
                }

              }
            }
          }

          ul {
            padding-top: 100px;
            text-align: end;
            margin-right: 10px;

            li {
              padding: 10px 0px;

              a {
                padding: 10px 0;
                font-size: $body-title;
                font-family: $primary-en;

                &:hover {
                  color: $main-color;
                }
              }
            }
          }
        }
      }
    }
  }

  /* ########## artist ########## */
  .artist {
    width: 100%;
    padding: 70px 10px;

    .artist-inner {
      width: 90%;
      margin: auto;

      .artist-title {
        .content-title {}
      }

      .artist-swiper {
        width: 100%;
        margin: 0;
        height: 500px;

        .swiper-wrapper {
          .swiper-slide {
            width: 100% !important;

            .imgwrap {
              width: 100%;
              height: 100%;

              img {
                width: 100%;
                height: 500px;
                object-fit: cover;
              }
            }
          }
        }

        .swiper-scrollbar {
          display: none;

          .swiper-scrollbar-drag {}
        }
      }
    }

  }

  /* ########## FOOTER ########## */
  .footer-content {
    height: 80%;

    .content-items {
      width: 90%;
      .content-item {
        flex-direction: column;
        align-items: flex-start;
        .item-left {
          flex: 2;
          .logo {
            width: 88px;
          }
          .decs {
            font-size: $txt;
            span{
              &:first-child{font-size: 20px !important;}
              strong{font-size: 16px !important;}
              a{
                font-size: 16px !important;
              }
              &:last-child{
                font-size: 12px !important;
              }
            }
            span,
            strong {
              color: $white;
            }
          }
        }

        .item-right {
          flex: 1;

          .top-btn {
            display: block;
            transform: translateY(-30px);
          }

          .footer-sns {
            left: 0;
            gap: 25px;

            a {
              i {
                color: $white;
                font-size: 1rem !important;
              }
            }
          }
        }
      }
    }

    .footer-bar {
      height: 30px;
    }
  }
}